.main {
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
  margin-top: 50px;
}

.logo {
  padding-bottom: 70px;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

@media (max-width: 600px) {
  .img {
    width: 200px;
height: 76px;
  }
}
